{% extends "base.html" %} {% block title %}Chat{% endblock %} {% block
stylesheets %}
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown.min.css" integrity="sha512-BrOPA520KmDMqieeM7XFe6a3u3Sb3F1JBaQnrIAmWg3EYrciJ+Qqe6ZcKCdfPv26rGcgTrJnZ/IdQEct8h3Zhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />{% endblock %} 
{% block content %} {% include "header.html" %}
<aside
  class="flex flex-col p-4 w-1/4 min-w-32 h-full gap-6 bg-white border-r border-gray-200"
>
  {% include "actions_chat.html" %}
  <hr class="border-gray-200" />
  {% include "history_chat.html" %}
</aside>
<main class="flex flex-col w-3/4 h-full p-4 gap-6 bg-white overflow-hidden">
  <section
    class="h-full mx-4 bg-gray-100 p-4 rounded-2xl flex flex-col items-start justify-between"
  >
  <div class="flex flex-col gap-4 pb-4 overflow-y-auto h-full w-full">
    {% for message in messages %}
    <div
      class="flex flex-col {% if message['role'] == 'User' %}ml-auto items-end{% else %}items-start{% endif %} gap-2"
    >
      <span class="text-gray-600 text-base select-none">
        {{ message['role'] }} 
        <span class="text-xs text-gray-400"
          >{{ message['timestamp'].strftime('às %H:%M') }}</span
        >
      </span>
      <div class="flex px-4 py-2 bg-gray-200 rounded-2xl w-fit max-w-[80%]">
        {% if message['role'] == 'Assistant' %}
          <div class="!bg-gray-200 markdown-body w-full ">
            {{ message['text'] | safe }}
          </div>
        {% else %}
          <p class="text-sm text-gray-400 break-words">{{ message['text'] | safe }}</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div> 
    {% include "form_chat.html" %}
  </section>
</main>
{% endblock %}
