<header class="flex flex-col h-full justify-between items-center p-4 bg-gray-100">
    <nav class="navbar-container flex flex-col items-center gap-12">
        <img src="{{ url_for('static', filename='img/perfil.png') }}" alt="Logo" class="rounded-full w-12 h-12">
        <ul class="flex flex-col items-center gap-4">
            <li class="flex justify-center items-center size-12 rounded-full bg-white"><i class='bx bx-home text-gray-600 text-2xl'></i></li>
            <li class="flex justify-center items-center size-12 rounded-full bg-white"><i class='bx bx-chat mt-1 text-gray-600 text-2xl'></i></li>
        </ul>
    </nav>
    <div class="flex justify-center items-center size-12 rounded-full bg-white">
        <i class="bx bx-user text-gray-600 text-2xl" aria-hidden="true"></i>
    </div>
</header>